# Dependencies
node_modules
.pnp
.pnp.*

# Build outputs
.next
out
build
dist

# Environment files
.env*
.vercel

# Logs
*.log

# Misc
.DS_Store
*.pem
*.tsbuildinfo

# Next.js
next-env.d.ts

# Lock files
yarn.lock
package-lock.json
pnpm-lock.yaml

